@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #6366f1;
  --secondary-color: #b33ab4;
  --accent-color: #ec4899;
  --bg-color: #f8fafc;
  --text-color: #1e293b;
}

.bg-pink {
  background-color: var(--accent-color);
}

.text-pink {
  color: var(--accent-color);
}

.border-pink {
  border-color: #b33ab4;
}

.bg-purple {
  background-color: #b33ab4;
}

.text-purple {
  color: #b33ab4;
}

.border-purple {
  border-color: var(--secondary-color);
}

.bg-blue {
  background-color: #6366f1;
}

.text-blue-smartpro {
  color: #6366f1;
}

.border-blue-smartpro {
  border-color: #6366f1;
}
